*{
    box-sizing: border-box;

}

 footer{
    height: 200px;
    border: solid 1px black;
    clear:both;
}

.sec1 {
    float: left;
    border: solid 1px black;
    width: 20%;
    height:600px;
}
.sec2{
  float: left;
    border: solid 1px black;
    width: 30%;
    height:600px;
}
.main{
    float: left;
    border: solid 1px black;
    width: 50%;
    height:600px;

}
img{
    float: left;
}

.empty{
    float:left;
    width: 20%;
    height:150px;

}
.a, .b{
    float: left;
    border: solid 1px black;
    width: 25%;
    height:200px;
    padding:10px;
    margin: 0 26px;
}

.c{
    margin: 0 26px;
    float:left;
}

ul{
    list-style-type: none;
    font-size: 20px;
    line-height: 1.5em;

}

img::after{
    content: "\a ";
    white-space: pre;

}