


*{
    box-sizing: border-box;

}

/* setting up boxes */
 footer{
    height: 200px;
    border: solid 1px black;
    clear:both;
}

.sec1 {
    float: left;
    border: solid 1px black;
    width: 20%;
    height:600px;
}
.sec2{
  float: left;
    border: solid 1px black;
    width: 30%;
    height:600px;
}
.main{
    float: left;
    border: solid 1px black;
    width: 50%;
    height:600px;

}

/*Bottom footer alignment*/
.empty{
    float:left;
    width: 20%;
    height:150px;

}
.a, .b{
    float: left;
    border: solid 1px black;
    width: 25%;
    height:200px;
    padding:10px;
    margin: 0 26px;
    font-size: 20px;
}

.c{
    margin: 0 26px;
    float:left;
    font-size: 20px;
}


/* Dealing with the nav screen on upper lefthand */
ul{
    list-style-type: none;
    font-size: 20px;
    line-height: 1.5em;

}
